.research-vfx-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: auto; /* Required to allow the mouse to attract particles! */
  overflow: hidden;
}

.research-vfx-background canvas {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}
